.item {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #ebf2fc;
  padding: 20px 15px;
  box-shadow: 1px 5px 5px -2px #a4a6a8;
  -webkit-box-shadow: 1px 5px 5px -2px #a4a6a8;
  -moz-box-shadow: 1px 5px 5px -2px #a4a6a8;
}

.status {
  font-size: 64px;
}

.avatar {
  width: 12%;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f37;
}
